body {
  background: linear-gradient(
    137deg,
    #e4c693,
    #6e86d2,
    #b4b9c8,
    #3c873f,
    #ecda4c
  );
  background-size: 1000% 1000%;

  -webkit-animation: gradient 12s ease infinite;
  -moz-animation: gradient 12s ease infinite;
  animation: gradient 12s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}

.landing-grid {
  background: linear-gradient(
    137deg,
    #e4c693,
    #6e86d2,
    #b4b9c8,
    #3c873f,
    #ecda4c
  );
  background-size: 1000% 1000%;

  -webkit-animation: gradient 12s ease infinite;
  -moz-animation: gradient 12s ease infinite;
  animation: gradient 12s ease infinite;

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-image {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background: rgba(0, 0, 0, 0);
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 75%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: rgba(0, 0, 0, 0);
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Dancing Script", cursive;
}

.contact-grid p {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 40px;
  padding-right: 5rem;
}

.project-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 20px;
}

.slider {
  width: 50%;
}
